.about-section {
  background: #1c2d48;
  color: #ffffff;
  padding: 40px;
  text-align: center;
}

.about-section h2 {
  color: #ffffff;
}

.about-section p {
  max-width: 70%;
  margin: 0 auto 30px;
  line-height: 1.6;
  color: #ffffff;
}

.location-hours {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 70%;
  margin: 0 auto;
}

.location,
.hours {
  flex: 1;
  text-align: left;
}

.location h3,
.hours h3 {
  color: #fbc92b;
  margin-bottom: 10px;
}

.location p,
.hours p {
  color: #ffffff;
  line-height: 1.4;
}
