.parallax-container {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  text-align: center;
}

.overlay h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.parallax-content p {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
